@import url('')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('Regatta2017.jpg'); no-repeat;
  background-size: cover;
  background-position: center;
}
 .text {
  position: relative;
  width: 800px;
  height: 440px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  color: #ffffff; 
  font-size: 30px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-right-img {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 300px; 
  border-radius: 30px; 
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
 }
  .topimage {
    position: absolute;
    top: 65%;
    left: 7%;
    width: 250px; 
    height: 250px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:30px; 